body{
    background-color: #090909;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #090909;
    padding: 10px;
    text-align: center;
}

h1{
color: #8254ee;
font-family: Arial;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .card{
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    background-color: #3b353c;
    box-shadow: 2px 2px 15px 2px hsla(0, 0%, 100%, 0.315);
}

section .card form{
    margin: 0px 80px 0px 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section .card form .input-field{
   width: 300px;
    font-family: Arial;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

section .card form .input-field:focus{
    outline: none;
}

section .card form .submit-btn{
    color: hsl(0, 0%, 100%);
    width: 100px;
    font-family: Arial;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #8254ee;
    transition: 0.5s;
}

section .card form .submit-btn:hover{
    color: hsl(0, 0%, 100%);
    background-color: #9e75ff;
    outline: 1px solid #222;
}

.tasks{
    margin-top: 50px;
}
.tasks .task-box{
    margin: 5px 20px 5px 20px;
    padding: 15px 20px 15px 20px;
    background-color: #8254ee;
    font-size: 20px;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tasks .task{
    max-width: 500px;
}

.tasks .task-box .close-btn{
    background-color: #e7c965;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-weight: 700;
}

.tasks .task-box .close-btn:hover{
    background-color: #f5da80;
    outline: 1px solid #555;
}

